{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/dev-verilux.myshopify.com/pages/edit-field/32161
{% endcomment %}
{% if page.metafields.custom_fields["og_title"] != blank %}
  <div class="custom-field custom-field__og-title custom-field__type--text">
    <h3 class="custom-field--title">OG Title</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["og_title"] }}
    </div>
  </div>
{% endif %}