{% if type == 'block' %}
  {% assign divider_spacing = block.settings.divider_spacing %}
  {% assign divider_border = block.settings.divider_border %}
{% else %}
  {% assign divider_spacing = section.settings.divider_spacing %}
  {% assign divider_border = section.settings.divider_border %}
{% endif %}

<div class="container" style="padding: 0; {% if divider_mobile %}display: none;{% endif %}">
  <div class="sixteen columns">
    <hr class="page-divider {% if divider_border %}active-divider{% endif %}" style="{% if divider_spacing %}margin: {{ divider_spacing }}px 0px;{% endif %}">
  </div>
</div>