{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% render 'custom_fields.products.product_tabs' %}
  {% render 'custom_fields.products.details' %}
  {% render 'custom_fields.products.specifications' %}
  {% render 'custom_fields.products.og_information' %}
</div>